{% extends "layout.html" %}
{% block body %}
<div id=wrap>

<div id=left>
{% for entry in entries %}
{% if entry.op_id %}
<div class=post>
{% else %}
<hr>
<div class=thread>
{% endif %}
	<div class='byline'>
		<span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		{% if not entry.op_id %}
			<span><a href='{{ entry.id }}'>#{{ entry.id }}</a></span>
		{% else %}
			<a href='#{{ entry.id }}' onclick="cite({{ entry.id }})">#{{ entry.id }}</a>
		{% endif %}
	</div>
	<div class='post_body' id='{{ entry.id }}'>
		{% if entry.fname %}
		<a href=/static/images/{{ entry.fname }}>
		<img class=thumb src=/static/thumbs/{{ entry.fname }}>
		</a>
		{% endif %}
		{{ entry.text|markdown }}
	</div>
</div>
{% endfor %}
</div>

{% include 'sidebar.html' %}
</div>
{% endblock %}
