{% extends "layout.html" %}
{% block body %}
<div id=wrap>

<div id=left>
{% for entry in entries %}
{% if entry.op_id %}
<div class=post>
{% else %}
<hr>
<div class=thread>
{% endif %}
	<div class='byline'>
		<span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		<a href='#{{ entry.id }}' onclick="cite({{ entry.id }})">#{{ entry.id }}</a>
	</div>
	<div class='post_body' id='{{ entry.id }}'>
		{% if entry.fname %}
		<a href=/static/images/{{ entry.fname }}>
		<img class=thumb src=/static/images/thumbs/{{ entry.fname }}>
		</a>
		{% endif %}
		{{ entry.text|markdown }}
	</div>
</div>
{% endfor %}
</div>

<span id=right>
	<p><b>{{ sidebar.long_name }}</b></p>
	{{ sidebar.description|markdown if sidebar }}
	{% if board != 'all' %}
	<form action="{{ url_for('add_reply') }}" enctype=multipart/form-data method=post>
		<input type="hidden" name="board" value="{{ board }}">
		<input type="hidden" name="op_id" value="{{ id }}">
		<input type=text name=name placeholder=Name>
		<input type=text name=email placeholder=Email>
		<input type=text name=subject placeholder=Subject>
		<textarea id=comment name=post_content rows=8></textarea>
		<input type=file name=file>
		<input type=submit value=Reply style='width: 100%'>
	</form>
	{% endif %}
</span>

</div>
{% endblock %}
